$blue: var(--bg, linear-gradient(46deg, #05159E 0%, #D7FDFF 99.99%, #84D3FF 100%));
$white: #FFFFFF;
$dark-blue: linear-gradient(46deg, #0539C0 0%, #5BC4FF 100%);
$yellow: linear-gradient(46deg, #DA7211 0%, rgba(253, 245, 47, 0.99) 100%);
$purple: linear-gradient(46deg, #848CCF 0%, #B8BCE5 99.99%);
$black: #000000;